@model IEnumerable<ShopCuaTui.Models.HangHoa>
@{
}

@foreach (var hh in Model)
{
    <div class="product-item">
        <div class="pi-pic">
            <img src="~/img/product/@hh.ProductImg" alt="">
            <div class="pi-links">
                <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
        </div>
        <div class="pi-text">
            <h6>@hh.DonGia</h6>
            <p>@hh.TenHh</p>
        </div>
    </div>
}
